body {
  background-color: #F0A3B7;
}

.card-header {
  background-color: #F5EC75;
}

.list-group-item {
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .content {
      color: #36200C;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    b {
      margin-right: 7px;
    }

    i {
      margin-left: 7px;
    }
  }
}


.h2 {
  color: #57DF9D;
}

.modal {
  display: block;
  background-color: #36200C;
}